$primary: #6979f8;
$text-in-primary: #fff;

$text: #4c5258;
$text-secondary: #8a8c8e;
$text-hover: #0b3e6f;

$border-secondary: #EEEEF1;
$border-primary: #d2d6de;
$background: #fff;

$header-height: 40px;
$header-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.07);
