.relate {
  &__status {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }
}

.cell {
  &-status {
    flex: none;
    width: 150px;
  }

  &-remove {
    flex: none;
    width: 150px;
  }
}
