@import "styles/theme";

:host {
  display: block;
}

.grid {
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  background: $background;

  &__data {
    overflow: hidden;
  }

  &__spinner-box {
    background: $background;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__placeholder {
    padding: 30px;
    text-align: center;
  }

  &__spinner {
    display: inline-block;
    width: 64px;
    height: 64px;

    &:after {
      content: " ";
      display: block;
      width: 46px;
      height: 46px;
      margin: 1px;
      border-radius: 50%;
      border: 5px solid $primary;
      border-color: $primary transparent $primary transparent;
      animation: grid-spinner 1.2s linear infinite;
    }
  }
}

@keyframes grid-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
