@import "styles/button";
@import "styles/page";
@import "styles/theme";

body, html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.search-input {
  width: 100%;
  border: 1px solid $border;
  color: $text;
  box-shadow: none;
  padding: 7px;
  box-sizing: border-box;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: $primary;
  }
}

.founded {
  background: $primary-opacity;
  padding: 2px 0;
  display: inline-block;
  white-space: pre;
}
