@import "../styles/style.css";
@import "../styles/theme";

:host {
  align-items: center;
  background: $background;
  color: $text-secondary;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  justify-content: space-between;
  padding: 10px;
}

.pagination {
  &__push, &__total {
    flex: 1;
  }

  &__pages {
    display: flex;
    flex: 1;
  }

  &__page {
    background-color: $background;
    border-radius: 3px;
    border: 1px solid $border-primary;
    color: $text-secondary;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    margin: 0 3px;
    min-width: 24px;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;

    &.active, &:hover:not(:disabled) {
      background-color: $primary;
      border-color: $primary;
      color: $text-in-primary;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__list {
    display: flex;
  }
}
